

<!DOCTYPE html>

<html dir="ltr" lang="tr">
<head><meta charset="UTF-8" /><title>
	HSBC Yatırım
</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5, user-scalable=yes" />
<meta name="description" content="HSBC Yatırım'a hoş geldiniz! Birikimlerinize en uygun alternatif çözümler HSBC Yatırım ile hizmetinizde! Yatırım ürünlerini incelemek için tıklayın. " />
<meta name="keywords" content="" />
<meta name="rating" content="General" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="robots" content="all" />
<link rel="canonical" href="http://www.hsbcyatirim.com.tr/" />
    



<meta name="googlebot" content="NOODP" />
<meta name="revisit-after" content="2 days" />


<link rel="shortcut icon" href="/favicon.ico">
<link rel="icon" type="image/png" href="/_assets/img/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="/_assets/img/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/_assets/img/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/_assets/img/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/_assets/img/favicon/favicon-128.png" sizes="128x128" />
<meta name="application-name" content=" "/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="/_assets/img/favicon/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="/_assets/img/favicon/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="/_assets/img/favicon/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/_assets/img/favicon/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/_assets/img/favicon/mstile-310x310.png" />

<meta name="apple-itunes-app" content="app-id=1339127709, affiliate-data=myAffiliateData, app-argument=myURL" />
<meta name="pagecategory" content="Diğer" />
 <!-- FACEBOOK GRAPH -->
    <meta property="og:title" content="HSBC Yatırım" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.hsbcyatirim.com.tr/" />
    <meta property="og:image" content="http://www.hsbcyatirim.com.tr/_assets/img/fb-logo.jpg" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta property="og:description" content="HSBC Yatırım'a hoş geldiniz! Birikimlerinize en uygun alternatif çözümler HSBC Yatırım ile hizmetinizde! Yatırım ürünlerini incelemek için tıklayın. " />
<!-- Twitter Metas -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@HSBC" />
    <meta property="twitter:title" content="HSBC Yatırım" />
    <meta property="twitter:url" content="http://www.hsbcyatirim.com.tr/" />
    <meta property="twitter:image" content="http://www.hsbcyatirim.com.tr/_assets/img/fb-logo.jpg" />
    <meta property="twitter:description" content="HSBC Yatırım'a hoş geldiniz! Birikimlerinize en uygun alternatif çözümler HSBC Yatırım ile hizmetinizde! Yatırım ürünlerini incelemek için tıklayın. " />

<!--[if lt IE 9]>
	<script src="/_assets/js/core/html5shiv.min.js"></script>
	<script src="/_assets/js/core/respond.min.js"></script>
<![endif]-->
    <meta name="theme-color" content="#db0011">
<link rel="stylesheet" type="text/css" href="/_assets/css/print.css" media="print" />
<link href="/magiclick.min.css?v=MTFmzF6kvQx1PvniXshMbQP-gAlKzKtDIzDQ_rW8h0E1" type="text/css" rel="stylesheet" media="screen"/>

</head>
<body class='isHomePage site-investment'>
    <div class="bg"></div>
    <form method="post" action="./" id="aspnetForm">
<div class="aspNetHidden">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="Q1f1Y9kYVPSKytTe/It6Mfsqy6soKjlBYuWQzdjgpTlrrcFzG2vrvME2jXi0ilNR5rNoRpFKSm02M1tLZEFuyh3VRUbe+H0Naydo9/vRZ33K1N9IHLtwubsOnEjtJDyZYLwR/U8Ep056nkf6lKHe130zFHLvVep8Sm7C+PBvPjrHZCGxoJlXZvUU7Y+x/pZzgGkdVzNpzAoJxDcVpviVmB5BtEwmSn1Kx+cZIbuRDDSqzdeGJZ30Dc0LRMAbSWBZ9QJqJhKWS7wKP8CKNnPOig==" />
</div>

<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CA0B0334" />
	<input type="hidden" name="__VIEWSTATEENCRYPTED" id="__VIEWSTATEENCRYPTED" value="" />
</div>
        <div class="wrapper">
            <div class="wrap-content">
                <div class="header-fixed-area">
                    <div class="container">
                        <a id="skipHeaderMenu" href="javascript:;">İçeriğe Ulaşmak için
                    Tıklayınız</a>
                    </div>
                    <div class="notify hide">
                        <div class="container">
                            <table>
                                <tr>
                                    <td style="width: 50px"><i class="icon-notifications"></i></td>
                                    <td>
                                        <div class="text"></div>
                                    </td>
                                    <td style="text-align: right;">
                                        <div class="buttons">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="new-cookie hide">
                        <div class="container">
                            <strong>İnternet Sitesinde Kullanılan Çerezler </strong>

<p>İnternet sitemizde, açıkça talep etmiş olduğunuz hizmetler için zorunlu, birinci taraf oturum çerezleri kullanılmaktadır.<br>
İnternet sitemizde kullanılan çerezlere ilişkin daha detaylı bilgiye <a href="/cerezler-hakkinda-bilgilendirme">Çerez Bildirimi</a>'nden ulaşabilirsiniz.</p>
<a class="btn btn-white accept-cookie" href="/">Okudum</a>
                        </div>
                    </div>
                </div>
                 

<div class="mobile-menu" role="navigation" aria-label="Mobil Menü">
    <div class="mobile_menu_overlay"></div>
    <div class="hide_mobile_menu">
        <div class="mobile_top_bar">
            <a href="javascript:;" aria-expanded="false">HSBC Yatırım<i class="icon-arrow-down"></i></a>
            <ul class="submenu hide" aria-hidden="true">
                <li><a href="https://www.hsbc.com.tr ">Bireysel</a></li>
                <li><a href="https://www.business.hsbc.com.tr/">Kurumsal</a></li>
                <li><a href="http://www.hsbcportfoy.com.tr ">HSBC Portföy</a></li>
            </ul>
            <a class="mobileMenuClose" href="javascript:;"><span class="sr-only">Mobil Menüyü Kapat</span><i class=" icon-delete"></i></a>
        </div>

        <div class="mobile_subtop_bar"><i class="mobilmenulefticonwhite icon-arrow_left"></i><a href="#"></a></div>

        <div class="submenuContainer">
            <ul>
                
                        <li  class="first">
                            <a href="javascript:;"><span class="text">HSBC Yatırım Hakkında</span><i class="mobilmenurighticon icon-arrow-right"></i></a>
                            
                                <div class="suball">
                                    <div id="ctrlMobileMenu_rptTopMenu_ctrlSubMenu_0" class="submenuleft">
	
<ul>
	<li>
                                                    <span class="head">HSBC Yatırım</span>
                                                
	<ul>
		<li>
                                                    <a href="/hsbc-yatirim-hakkinda/hsbc-yatirim/hsbc-yatirimi-kesfedin">HSBC Yatırım'ı Keşfedin</a>
                                                </li>
		<li>
                                                    <a href="/hsbc-yatirim-hakkinda/hsbc-yatirim/hsbc-yatirim-yetki-belgesi">HSBC Yatırım Yetki Belgesi</a>
                                                </li>
		<li>
                                                    <a href="/hsbc-yatirim-hakkinda/hsbc-yatirim/finansal-bilgiler">Finansal Bilgiler</a>
                                                </li>
		<li>
                                                    <a href="/hsbc-yatirim-hakkinda/hsbc-yatirim/yasal-bilgiler">Yasal Bilgiler</a>
                                                </li>
	</ul>
	</li>
</ul>

</div>
                                    <div class="submenuright">
                                        <!-- right area -->
                                        <div class="menurow">
<ul>
	<li><a href="https://www.hsbc.com.tr/yatirim-urunleri/birikim-yonetimi/birikimlerinizi-nasil-degerlendirmek-istersiniz">Risk Profilinizi ve Size Uygun Yatırım Çözümlerini Öğrenin </a></li>
	<li><a href="http://www.hsbcportfoy.com.tr/yatirim-goruslerimiz/yatirim-bulteni/yatirim-bulteni">Yatırım Bültenleri</a></li>
	<li><a href="https://www.hsbc.com.tr/yatirim-urunleri/hsbc-yatirim-dunyasi/hsbc-yatirim-telefon-bankaciligi">HSBC Yatırım Telefon Bankaclığı</a></li>
	<li><a href="https://www.hsbc.com.tr/sikca-sorulanlar/hesaplar/vergi">Vergi</a></li>
	<li><a href="/hizmetlerimiz/formlar-ve-duyurular/formlar-ve-duyurular">Formlar ve Duyurular</a></li>
	<li><a href="https://www.hsbc.com.tr/hsbc-premier-ve-advance/hsbc-premier/bireysel-ekonominiz">HSBC Premier</a></li>
	<li><a class="popup-link" href="https://forms.hsbc.com.tr/bize-ulasin">Bize Ulaşın</a></li>
</ul>
</div>

                                    </div>
                                      <a class="mobilesubmenuselectfirstchild" href="javascript:;" aria-label="submenu"></a>
                                </div>
                            
                        </li>
                    
                        <li  class="first">
                            <a href="javascript:;"><span class="text">Hizmetlerimiz</span><i class="mobilmenurighticon icon-arrow-right"></i></a>
                            
                                <div class="suball">
                                    <div id="ctrlMobileMenu_rptTopMenu_ctrlSubMenu_1" class="submenuleft">
	
<ul>
	<li>
                                                    <span class="head">HSBC Yatırım Menkul Değerler A.Ş. Hesap Açılışı</span>
                                                
	<ul>
		<li>
                                                    <a href="/hizmetlerimiz/hsbc-yatirim-menkul-degerler-as-hesap-acilisi/hsbc-yatirim-menkul-degerler-as-hesap-acilisi">HSBC Yatırım Menkul Değerler A.Ş. Hesap Açılışı</a>
                                                </li>
	</ul>
	</li>
	<li>
                                                    <span class="head">Pay Senetleri Piyasası</span>
                                                
	<ul>
		<li>
                                                    <a href="/hizmetlerimiz/pay-senetleri-piyasasi/hsbc-pay-senetleri-piyasasi">Pay Senetleri Piyasası</a>
                                                </li>
		<li>
                                                    <a href="/hizmetlerimiz/pay-senetleri-piyasasi/kredili-hisse-senedi">Kredili Hisse Senedi</a>
                                                </li>
		<li>
                                                    <a href="https://www.hsbc.com.tr/popup/kredi-ve-islem-limiti-teminatina-dahil-olan-hisse-senetleri">Kredi ve İşlem Limiti Teminatına Dahil Olan Hisse Senetleri</a>
                                                </li>
		<li>
                                                    <a href="/hizmetlerimiz/pay-senetleri-piyasasi/risk-bildirim-formu">Risk Bildirim Formu</a>
                                                </li>
		<li>
                                                    <a href="/hizmetlerimiz/pay-senetleri-piyasasi/hsbc-duyurulari">Duyurular</a>
                                                </li>
	</ul>
	</li>
	<li>
                                                    <span class="head">Vadeli İşlemler</span>
                                                
	<ul>
		<li>
                                                    <a href="/hizmetlerimiz/vadeli-islem-ve-opsiyonlar/hsbc-vadeli-islemler-ve-opsiyonlar">Vadeli İşlemler</a>
                                                </li>
	</ul>
	</li>
	<li>
                                                    <span class="head">Kurumsal Finansman</span>
                                                
	<ul>
		<li>
                                                    <a href="http://www.business.hsbc.com.tr/tr-tr/global-banking-expertise">Kurumsal Finansman</a>
                                                </li>
	</ul>
	</li>
	<li>
                                                    <span class="head">Portföy Yönetimi</span>
                                                
	<ul>
		<li>
                                                    <a href="/hizmetlerimiz/portfoy-yonetimi/hsbc-portfoy-yonetimi">Portföy Yönetimi</a>
                                                </li>
	</ul>
	</li>
	<li>
                                                    <span class="head">Araştırma</span>
                                                
	<ul>
		<li>
                                                    <a href="/hizmetlerimiz/arastirma/arastirma">Araştırma</a>
                                                </li>
	</ul>
	</li>
	<li>
                                                    <span class="head">Formlar ve Duyurular</span>
                                                
	<ul>
		<li>
                                                    <a href="/hizmetlerimiz/formlar-ve-duyurular/formlar-ve-duyurular">Formlar ve Duyurular</a>
                                                </li>
	</ul>
	</li>
	<li>
                                                    <span class="head">Hisse Senedi ve VİOP İşlem Platformları</span>
                                                
	<ul>
		<li>
                                                    <a href="/hizmetlerimiz/hisse-senedi-ve-viop-islem-platformlari/hisse-senedi-ve-viop-islem-platformlari">Hisse Senedi ve VİOP İşlem Platformları</a>
                                                </li>
	</ul>
	</li>
</ul>

</div>
                                    <div class="submenuright">
                                        <!-- right area -->
                                        <div class="menurow">
<ul>
	<li><a href="https://www.hsbc.com.tr/yatirim-urunleri/birikim-yonetimi/birikimlerinizi-nasil-degerlendirmek-istersiniz">Risk Profilinizi ve Size Uygun Yatırım Çözümlerini Öğrenin </a></li>
	<li><a href="https://www.hsbc.com.tr/yatirim-urunleri/birikim-yonetimi/birikimlerinizi-nasil-degerlendirmek-istersiniz">Birikimlerinizi Nasıl Değerlendirmek İstersiniz? </a></li>
	<li><a href="http://www.hsbcportfoy.com.tr/yatirim-goruslerimiz/yatirim-bulteni/yatirim-bulteni">Yatırım Bültenleri</a></li>
	<li><a href="https://www.hsbc.com.tr/yatirim-urunleri/hsbc-yatirim-dunyasi/hsbc-yatirim-telefon-bankaciligi">HSBC Yatırım Telefon Bankaclığı</a></li>
	<li><a href="https://www.hsbc.com.tr/sikca-sorulanlar/hesaplar/vergi">Vergi</a></li>
	<li><a href="/hizmetlerimiz/formlar-ve-duyurular/formlar-ve-duyurular">Formlar ve Duyurular</a></li>
	<li><a href="https://www.hsbc.com.tr/hsbc-premier-ve-advance/hsbc-premier/bireysel-ekonominiz">HSBC Premier</a></li>
	<li><a class="popup-link" href="https://forms.hsbc.com.tr/bize-ulasin">Bize Ulaşın</a></li>
</ul>
</div>

                                    </div>
                                      <a class="mobilesubmenuselectfirstchild" href="javascript:;" aria-label="submenu"></a>
                                </div>
                            
                        </li>
                    
                        <li  class="first">
                            <a href="javascript:;"><span class="text">Piyasa Verileri</span><i class="mobilmenurighticon icon-arrow-right"></i></a>
                            
                                <div class="suball">
                                    <div id="ctrlMobileMenu_rptTopMenu_ctrlSubMenu_2" class="submenuleft">
	
<ul>
	<li>
                                                    <span class="head">Hisse Senedi Piyasaları</span>
                                                
	<ul>
		<li>
                                                    <a href="/piyasa-verileri/hisse-senedi-piyasalari/hsbc-hisse-senedi-piyasalari">Hisse Senedi Piyasaları</a>
                                                </li>
	</ul>
	</li>
	<li>
                                                    <span class="head">Döviz ve Kıymetli Madenler</span>
                                                
	<ul>
		<li>
                                                    <a href="/piyasa-verileri/doviz-ve-altin/hsbc-doviz-ve-altin-piyasalari">Döviz ve Kıymetli Madenler</a>
                                                </li>
	</ul>
	</li>
	<li>
                                                    <span class="head">HSBC Yatırım Fonları</span>
                                                
	<ul>
		<li>
                                                    <a href="/piyasa-verileri/hsbc-yatirim-fonlari/hsbc-yatirim-fonlari">HSBC Yatırım Fonları</a>
                                                		</li>
	</ul>
	</li>
</ul>

</div>
                                    <div class="submenuright">
                                        <!-- right area -->
                                        <div class="menurow">
<ul>
	<li><a href="https://www.hsbc.com.tr/yatirim-urunleri/birikim-yonetimi/birikimlerinizi-nasil-degerlendirmek-istersiniz">Risk Profilinizi ve Size Uygun Yatırım Çözümlerini Öğrenin </a></li>
	<li><a href="http://www.hsbcportfoy.com.tr/yatirim-goruslerimiz/yatirim-bulteni/yatirim-bulteni">Yatırım Bültenleri</a></li>
	<li><a href="https://www.hsbc.com.tr/yatirim-urunleri/hsbc-yatirim-dunyasi/hsbc-yatirim-telefon-bankaciligi">HSBC Yatırım Telefon Bankaclığı</a></li>
	<li><a href="https://www.hsbc.com.tr/sikca-sorulanlar/hesaplar/vergi">Vergi</a></li>
	<li><a href="/hizmetlerimiz/formlar-ve-duyurular/formlar-ve-duyurular">Formlar ve Duyurular</a></li>
	<li><a href="https://www.hsbc.com.tr/hsbc-premier-ve-advance/hsbc-premier/bireysel-ekonominiz">HSBC Premier</a></li>
	<li><a class="popup-link" href="https://forms.hsbc.com.tr/bize-ulasin">Bize Ulaşın</a></li>
</ul>
</div>

                                    </div>
                                      <a class="mobilesubmenuselectfirstchild" href="javascript:;" aria-label="submenu"></a>
                                </div>
                            
                        </li>
                    
                        <li  class="first">
                            <a href="javascript:;"><span class="text">Direkt Bankacılık</span><i class="mobilmenurighticon icon-arrow-right"></i></a>
                            
                                <div class="suball">
                                    <div id="ctrlMobileMenu_rptTopMenu_ctrlSubMenu_3" class="submenuleft">
	
<ul>
	<li>
                                                    <span class="head">Dijital Bankacılık</span>
                                                
	<ul>
		<li>
                                                    <a href="https://www.hsbc.com.tr/direkt-bankacilik/dijital-bankacilik/dijital-bankacilik-islemleri">Dijital Bankacılık</a>
                                                </li>
		<li>
                                                    <a href="https://www.hsbc.com.tr/direkt-bankacilik/dijital-bankacilik/internet-bankaciligi">İnternet Bankacılığı</a>
                                                </li>
		<li>
                                                    <a href="https://www.hsbc.com.tr/direkt-bankacilik/dijital-bankacilik/mobil-bankacilik-islemleri">Mobil Bankacılık</a>
                                                </li>
		<li>
                                                    <a href="https://www.hsbc.com.tr/direkt-bankacilik/dijital-bankacilik/aninda-sifre">Anında Şifre</a>
                                                </li>
		<li>
                                                    <a href="https://www.hsbc.com.tr/direkt-bankacilik/dijital-bankacilik/islem-imzalama">İşlem İmzalama</a>
                                                </li>
		<li>
                                                    <a href="https://www.hsbc.com.tr/direkt-bankacilik/dijital-bankacilik/bankacilik-islem-limitleri">İşlem Listesi ve Limitleri</a>
                                                </li>
		<li>
                                                    <a href="https://www.hsbc.com.tr/direkt-bankacilik/dijital-bankacilik/online-guvenlik">Online Güvenlik</a>
                                                </li>
		<li>
                                                    <a href="https://www.hsbc.com.tr/direkt-bankacilik/dijital-bankacilik/demolar">Demolar</a>
                                                </li>
	</ul>
	</li>
	<li>
                                                    <span class="head">Telefon Bankacılığı</span>
                                                
	<ul>
		<li>
                                                    <a href="https://www.hsbc.com.tr/direkt-bankacilik/telefon-bankaciligi/hsbc-telefon-bankaciligi">Telefon Bankacılığı</a>
                                                </li>
		<li>
                                                    <a href="https://www.hsbc.com.tr/direkt-bankacilik/telefon-bankaciligi/musteri-temsilcisi-araciligiyla-yapabileceginiz-islemler">Müşteri Temsilcisi Aracılığıyla Yapabileceğiniz İşlemler</a>
                                                </li>
		<li>
                                                    <a href="https://www.hsbc.com.tr/direkt-bankacilik/telefon-bankaciligi/sesli-yanit-sistemi-ile-yapabileceginiz-islemler">Sesli Yanıt Sistemi ile Yapabileceğiniz İşlemler</a>
                                                </li>
		<li>
                                                    <a href="https://www.hsbc.com.tr/direkt-bankacilik/telefon-bankaciligi/tek-kullanimlik-sifre">Tek Kullanımlık Şifre</a>
                                                </li>
		<li>
                                                    <a href="https://www.hsbc.com.tr/direkt-bankacilik/telefon-bankaciligi/islem-limitleri">İşlem Limitleri</a>
                                                </li>
	</ul>
	</li>
</ul>

</div>
                                    <div class="submenuright">
                                        <!-- right area -->
                                        <div class="menurow">
<ul>
	<li><a href="https://www.hsbc.com.tr/yatirim-urunleri/birikim-yonetimi/birikimlerinizi-nasil-degerlendirmek-istersiniz">Risk Profilinizi ve Size Uygun Yatırım Çözümlerini Öğrenin </a></li>
	<li><a href="http://www.hsbcportfoy.com.tr/yatirim-goruslerimiz/yatirim-bulteni/yatirim-bulteni">Yatırım Bültenleri</a></li>
	<li><a href="https://www.hsbc.com.tr/yatirim-urunleri/hsbc-yatirim-dunyasi/hsbc-yatirim-telefon-bankaciligi">HSBC Yatırım Telefon Bankaclığı</a></li>
	<li><a href="https://www.hsbc.com.tr/sikca-sorulanlar/hesaplar/vergi">Vergi</a></li>
	<li><a href="/hizmetlerimiz/formlar-ve-duyurular/formlar-ve-duyurular">Formlar ve Duyurular</a></li>
	<li><a href="https://www.hsbc.com.tr/hsbc-premier-ve-advance/hsbc-premier/bireysel-ekonominiz">HSBC Premier</a></li>
	<li><a class="popup-link" href="https://forms.hsbc.com.tr/bize-ulasin">Bize Ulaşın</a></li>
</ul>
</div>

                                    </div>
                                      <a class="mobilesubmenuselectfirstchild" href="javascript:;" aria-label="submenu"></a>
                                </div>
                            
                        </li>
                    
           
              <li class="first searchLink"><a href="/arama"><i class="icon-search2"></i><span class="text">Arama</span></a></li>
                <li class="internetbanking first"><a href="javascript:;"><i class="icon-security-lock"></i><span class="text">İnternet Bankacılığı</span><i class="mobilmenurighticon icon-arrow-right"></i></a>
                    <div class="suball">
                        <div class="submenuleft">
                            <ul>
                                <li><a href="<%= site %>" class="popup-link" data-name="HSBCNET"><i class="icon-security-lock"></i>İnternet Bankacılığı</a></li>
                                <li><a href="https://kurumsal.hsbc.com.tr/TUR/" class="popup-link" data-name="Kurumsal"><i class="icon-security-lock"></i>Kurumsal İnternet Bankacılığı</a></li>
                                
                                <li><a href="/popup/hsbc-mobil-bankacilik-uygulamasi"><i class="icon-security-lock"></i>Mobil Bankacılık</a></li>
                            </ul>
                            <a class="mobilesubmenuselectfirstchild" href="javascript:;" aria-label="submenu"></a>
                        </div>
                    </div>
                </li>
               
                <li class="">
                    <i class="icon-tr_flag">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                    </i><span class="text">Türkiye</span>
                </li>               
            </ul>
             <a class="mobilemenuselectfirstchild" href="javascript:;" aria-label="Menu"></a>
        </div>
    </div>

    <div class="container">
        <div>
            <a href="javascript:;" class="mobile-nav" tabindex="-1"><span></span><span class="sr-only">Mobil Menüyü Aç</span></a>
            <div class="logo">
                <a href="/">
                    <img src="/_assets/img/logo_mobile.png" alt="Hsbc Homepage" class="img-responsive">
                </a>
            </div>

        </div>
    </div>
</div>
                <div class="relative-content-area">
                    <header aria-label="Üst Bilgi ve Navigasyon" >

                        <div class="header-menu">
                            <div class="overlay"></div>

                            <div class="container">
                                <div class="first-row">
<div class="logo"><a href="/"><img alt="HSBC Homepage" class="img-responsive" src="/_assets/img/logo-2x.png"> </a></div>

<div aria-label="Web Sitelerimiz" class="leftlinks" role="navigation">
<ul role="tablist">
	<li class="selected visible-sm visible-md" role="presentation"><a aria-selected="true" class="ignoreAlert" href="http://www.hsbcyatirim.com.tr" role="tab">HSBC Yatırım</a></li>
	<li role="presentation"><a aria-hidden="true" href="https://www.hsbc.com.tr" role="tab">Bireysel</a></li>
	<li role="presentation"><a aria-hidden="true" class="ignoreAlert" href="http://www.business.hsbc.com.tr/" role="tab" target="_blank">Kurumsal</a></li>
	<li class="selected hidden-sm hidden-md" role="presentation"><a aria-hidden="true" class="ignoreAlert" href="http://www.hsbcyatirim.com.tr" role="tab">HSBC Yatırım</a></li>
	<li role="presentation"><a aria-hidden="true" class="ignoreAlert" href="http://www.hsbcportfoy.com.tr" role="tab">HSBC Portföy</a></li>
	<!--<li role="presentation"><a aria-hidden="true" class="ignoreAlert" href="https://www.advantage.com.tr" role="tab">HSBC Advantage</a></li>-->
</ul>
</div>

<div aria-label="Ürün Hizmet Ücretleri" class="rightBlock pull-right" role="navigation">
<ul class="rightlinks">
	<li class="product"><i class="icon-urun_ve_hizmetler"></i> <a href="https://www.hsbc.com.tr/hsbc/urun-ve-hizmet-ucretleri"> Ürün ve Hizmet Ücretleri</a></li>
	<li class="search"><a href="#"><span class="sr-only">Arama</span><i class="icon-search2"></i></a></li>
	<li class="language"><i class="flag icon-tr_flag"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>Türkiye</li>
</ul>

<div class="internetbanking"><a aria-expanded="false" href="#">İnternet Bankacılığı <i class="icon-arrow-down"></i></a>

<ul aria-hidden="true" class="submenu">
	<li><a class="popup-link" data-name="HSBCNET" href="<%= site %>?lang=TR">İnternet Bankacılığı <i class="icon-security-lock"></i></a></li>
	<li><a class="popup-link" data-name="HSBCNETCC" href="https://internet.hsbc.com.tr/UIApplication/UnregisteredUser/NewUserRegistration_NonFlash.aspx?lang=TR&amp;type=lost">Şifremi Unuttum <i class="icon-security-lock"></i></a></li>
	<li><a class="popup-link" data-name="Kurumsal" href="https://internet.hsbc.com.tr/UIApplication/UnregisteredUser/NewUserRegistration_NonFlash.aspx?lang=TR">Kullanıcı Oluştur <i class="icon-security-lock"></i></a></li>
	<li><a class="popup-link" data-width="1000" href="https://www.hsbc.com.tr/tr/mobile" target="_blank">Mobil Bankacılık <i class="icon-security-lock"></i></a></li>
</ul>
</div>
</div>
</div>

                                <div class="clearfix"></div>
                                <div class="second-row" role="navigation" aria-label="Menü">
                                    

<ul class="list-nav">
    
            <li >
                <span role="button" tabindex="0">HSBC Yatırım Hakkında</span>
                
                    <div class="fullsubmenu" aria-hidden="false">
                        <div class="submenuclose"><i class="seachClose icon-delete"></i></div>
                        <div class="container">
                            <div class="row">
                                <div class="nopadding col-md-12">
                                    <div class="suball">
                                        <a class="submenufocusclose" href="javascript:;">Bir sonraki Menüye git</a>
                                        <div id="ctrlMainMenu_rptTopMenu_ctrlSubMenu_0" class="submenuleft col-md-8 header-height-wrap auto-col">
	
                                                        <span class="head item">HSBC Yatırım</span>
                                                    

                                                        
                                                        <a class="item" href="/hsbc-yatirim-hakkinda/hsbc-yatirim/hsbc-yatirimi-kesfedin"
                                                            target="_self">HSBC Yatırım'ı Keşfedin</a>
                                                    

                                                        
                                                        <a class="item" href="/hsbc-yatirim-hakkinda/hsbc-yatirim/hsbc-yatirim-yetki-belgesi"
                                                            target="_self">HSBC Yatırım Yetki Belgesi</a>
                                                    

                                                        
                                                        <a class="item" href="/hsbc-yatirim-hakkinda/hsbc-yatirim/finansal-bilgiler"
                                                            target="_self">Finansal Bilgiler</a>
                                                    

                                                        
                                                        <a class="item" href="/hsbc-yatirim-hakkinda/hsbc-yatirim/yasal-bilgiler"
                                                            target="_self">Yasal Bilgiler</a>
                                                    	
</div>

                                        <div class="submenuright pull-right col-sm-12 col-md-4">
                                            <div class="menurow">
<ul>
	<li><a href="https://www.hsbc.com.tr/yatirim-urunleri/birikim-yonetimi/birikimlerinizi-nasil-degerlendirmek-istersiniz">Risk Profilinizi ve Size Uygun Yatırım Çözümlerini Öğrenin </a></li>
	<li><a href="http://www.hsbcportfoy.com.tr/yatirim-goruslerimiz/yatirim-bulteni/yatirim-bulteni">Yatırım Bültenleri</a></li>
	<li><a href="https://www.hsbc.com.tr/yatirim-urunleri/hsbc-yatirim-dunyasi/hsbc-yatirim-telefon-bankaciligi">HSBC Yatırım Telefon Bankaclığı</a></li>
	<li><a href="https://www.hsbc.com.tr/sikca-sorulanlar/hesaplar/vergi">Vergi</a></li>
	<li><a href="/hizmetlerimiz/formlar-ve-duyurular/formlar-ve-duyurular">Formlar ve Duyurular</a></li>
	<li><a href="https://www.hsbc.com.tr/hsbc-premier-ve-advance/hsbc-premier/bireysel-ekonominiz">HSBC Premier</a></li>
	<li><a class="popup-link" href="https://forms.hsbc.com.tr/bize-ulasin">Bize Ulaşın</a></li>
</ul>
</div>

                                            <!-- right area -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </li>
        
            <li >
                <span role="button" tabindex="0">Hizmetlerimiz</span>
                
                    <div class="fullsubmenu" aria-hidden="false">
                        <div class="submenuclose"><i class="seachClose icon-delete"></i></div>
                        <div class="container">
                            <div class="row">
                                <div class="nopadding col-md-12">
                                    <div class="suball">
                                        <a class="submenufocusclose" href="javascript:;">Bir sonraki Menüye git</a>
                                        <div id="ctrlMainMenu_rptTopMenu_ctrlSubMenu_1" class="submenuleft col-md-8 header-height-wrap auto-col">
	
                                                        <span class="head item">HSBC Yatırım Menkul Değerler A.Ş. Hesap Açılışı</span>
                                                    

                                                        
                                                        <a class="item" href="/hizmetlerimiz/hsbc-yatirim-menkul-degerler-as-hesap-acilisi/hsbc-yatirim-menkul-degerler-as-hesap-acilisi"
                                                            target="_self">HSBC Yatırım Menkul Değerler A.Ş. Hesap Açılışı</a>
                                                    	
                                                        <span class="head item">Pay Senetleri Piyasası</span>
                                                    

                                                        
                                                        <a class="item" href="/hizmetlerimiz/pay-senetleri-piyasasi/hsbc-pay-senetleri-piyasasi"
                                                            target="_self">Pay Senetleri Piyasası</a>
                                                    

                                                        
                                                        <a class="item" href="/hizmetlerimiz/pay-senetleri-piyasasi/kredili-hisse-senedi"
                                                            target="_self">Kredili Hisse Senedi</a>
                                                    

                                                        
                                                        <a class="item" href="https://www.hsbc.com.tr/popup/kredi-ve-islem-limiti-teminatina-dahil-olan-hisse-senetleri"
                                                            target="_self">Kredi ve İşlem Limiti Teminatına Dahil Olan Hisse Senetleri</a>
                                                    

                                                        
                                                        <a class="item" href="/hizmetlerimiz/pay-senetleri-piyasasi/risk-bildirim-formu"
                                                            target="_self">Risk Bildirim Formu</a>
                                                    

                                                        
                                                        <a class="item" href="/hizmetlerimiz/pay-senetleri-piyasasi/hsbc-duyurulari"
                                                            target="_self">Duyurular</a>
                                                    	
                                                        <span class="head item">Vadeli İşlemler</span>
                                                    

                                                        
                                                        <a class="item" href="/hizmetlerimiz/vadeli-islem-ve-opsiyonlar/hsbc-vadeli-islemler-ve-opsiyonlar"
                                                            target="_self">Vadeli İşlemler</a>
                                                    	
                                                        <span class="head item">Kurumsal Finansman</span>
                                                    

                                                        
                                                        <a class="item" href="http://www.business.hsbc.com.tr/tr-tr/global-banking-expertise"
                                                            target="_blank">Kurumsal Finansman</a>
                                                    	
                                                        <span class="head item">Portföy Yönetimi</span>
                                                    

                                                        
                                                        <a class="item" href="/hizmetlerimiz/portfoy-yonetimi/hsbc-portfoy-yonetimi"
                                                            target="_self">Portföy Yönetimi</a>
                                                    	
                                                        <span class="head item">Araştırma</span>
                                                    

                                                        
                                                        <a class="item" href="/hizmetlerimiz/arastirma/arastirma"
                                                            target="_self">Araştırma</a>
                                                    	
                                                        <span class="head item">Formlar ve Duyurular</span>
                                                    

                                                        
                                                        <a class="item" href="/hizmetlerimiz/formlar-ve-duyurular/formlar-ve-duyurular"
                                                            target="_self">Formlar ve Duyurular</a>
                                                    	
                                                        <span class="head item">Hisse Senedi ve VİOP İşlem Platformları</span>
                                                    

                                                        
                                                        <a class="item" href="/hizmetlerimiz/hisse-senedi-ve-viop-islem-platformlari/hisse-senedi-ve-viop-islem-platformlari"
                                                            target="_self">Hisse Senedi ve VİOP İşlem Platformları</a>
                                                    	
</div>

                                        <div class="submenuright pull-right col-sm-12 col-md-4">
                                            <div class="menurow">
<ul>
	<li><a href="https://www.hsbc.com.tr/yatirim-urunleri/birikim-yonetimi/birikimlerinizi-nasil-degerlendirmek-istersiniz">Risk Profilinizi ve Size Uygun Yatırım Çözümlerini Öğrenin </a></li>
	<li><a href="https://www.hsbc.com.tr/yatirim-urunleri/birikim-yonetimi/birikimlerinizi-nasil-degerlendirmek-istersiniz">Birikimlerinizi Nasıl Değerlendirmek İstersiniz? </a></li>
	<li><a href="http://www.hsbcportfoy.com.tr/yatirim-goruslerimiz/yatirim-bulteni/yatirim-bulteni">Yatırım Bültenleri</a></li>
	<li><a href="https://www.hsbc.com.tr/yatirim-urunleri/hsbc-yatirim-dunyasi/hsbc-yatirim-telefon-bankaciligi">HSBC Yatırım Telefon Bankaclığı</a></li>
	<li><a href="https://www.hsbc.com.tr/sikca-sorulanlar/hesaplar/vergi">Vergi</a></li>
	<li><a href="/hizmetlerimiz/formlar-ve-duyurular/formlar-ve-duyurular">Formlar ve Duyurular</a></li>
	<li><a href="https://www.hsbc.com.tr/hsbc-premier-ve-advance/hsbc-premier/bireysel-ekonominiz">HSBC Premier</a></li>
	<li><a class="popup-link" href="https://forms.hsbc.com.tr/bize-ulasin">Bize Ulaşın</a></li>
</ul>
</div>

                                            <!-- right area -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </li>
        
            <li >
                <span role="button" tabindex="0">Piyasa Verileri</span>
                
                    <div class="fullsubmenu" aria-hidden="false">
                        <div class="submenuclose"><i class="seachClose icon-delete"></i></div>
                        <div class="container">
                            <div class="row">
                                <div class="nopadding col-md-12">
                                    <div class="suball">
                                        <a class="submenufocusclose" href="javascript:;">Bir sonraki Menüye git</a>
                                        <div id="ctrlMainMenu_rptTopMenu_ctrlSubMenu_2" class="submenuleft col-md-8 header-height-wrap auto-col">
	
                                                        <span class="head item">Hisse Senedi Piyasaları</span>
                                                    

                                                        
                                                        <a class="item" href="/piyasa-verileri/hisse-senedi-piyasalari/hsbc-hisse-senedi-piyasalari"
                                                            target="_self">Hisse Senedi Piyasaları</a>
                                                    	
                                                        <span class="head item">Döviz ve Kıymetli Madenler</span>
                                                    

                                                        
                                                        <a class="item" href="/piyasa-verileri/doviz-ve-altin/hsbc-doviz-ve-altin-piyasalari"
                                                            target="_self">Döviz ve Kıymetli Madenler</a>
                                                    	
                                                        <span class="head item">HSBC Yatırım Fonları</span>
                                                    

                                                        
                                                        <a class="item" href="/piyasa-verileri/hsbc-yatirim-fonlari/hsbc-yatirim-fonlari"
                                                            target="_self">HSBC Yatırım Fonları</a>
                                                    			
</div>

                                        <div class="submenuright pull-right col-sm-12 col-md-4">
                                            <div class="menurow">
<ul>
	<li><a href="https://www.hsbc.com.tr/yatirim-urunleri/birikim-yonetimi/birikimlerinizi-nasil-degerlendirmek-istersiniz">Risk Profilinizi ve Size Uygun Yatırım Çözümlerini Öğrenin </a></li>
	<li><a href="http://www.hsbcportfoy.com.tr/yatirim-goruslerimiz/yatirim-bulteni/yatirim-bulteni">Yatırım Bültenleri</a></li>
	<li><a href="https://www.hsbc.com.tr/yatirim-urunleri/hsbc-yatirim-dunyasi/hsbc-yatirim-telefon-bankaciligi">HSBC Yatırım Telefon Bankaclığı</a></li>
	<li><a href="https://www.hsbc.com.tr/sikca-sorulanlar/hesaplar/vergi">Vergi</a></li>
	<li><a href="/hizmetlerimiz/formlar-ve-duyurular/formlar-ve-duyurular">Formlar ve Duyurular</a></li>
	<li><a href="https://www.hsbc.com.tr/hsbc-premier-ve-advance/hsbc-premier/bireysel-ekonominiz">HSBC Premier</a></li>
	<li><a class="popup-link" href="https://forms.hsbc.com.tr/bize-ulasin">Bize Ulaşın</a></li>
</ul>
</div>

                                            <!-- right area -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </li>
        
            <li >
                <span role="button" tabindex="0">Direkt Bankacılık</span>
                
                    <div class="fullsubmenu" aria-hidden="false">
                        <div class="submenuclose"><i class="seachClose icon-delete"></i></div>
                        <div class="container">
                            <div class="row">
                                <div class="nopadding col-md-12">
                                    <div class="suball">
                                        <a class="submenufocusclose" href="javascript:;">Bir sonraki Menüye git</a>
                                        <div id="ctrlMainMenu_rptTopMenu_ctrlSubMenu_3" class="submenuleft col-md-8 header-height-wrap auto-col">
	
                                                        <span class="head item">Dijital Bankacılık</span>
                                                    

                                                        
                                                        <a class="item" href="https://www.hsbc.com.tr/direkt-bankacilik/dijital-bankacilik/dijital-bankacilik-islemleri"
                                                            target="_self">Dijital Bankacılık</a>
                                                    

                                                        
                                                        <a class="item" href="https://www.hsbc.com.tr/direkt-bankacilik/dijital-bankacilik/internet-bankaciligi"
                                                            target="_self">İnternet Bankacılığı</a>
                                                    

                                                        
                                                        <a class="item" href="https://www.hsbc.com.tr/direkt-bankacilik/dijital-bankacilik/mobil-bankacilik-islemleri"
                                                            target="_self">Mobil Bankacılık</a>
                                                    

                                                        
                                                        <a class="item" href="https://www.hsbc.com.tr/direkt-bankacilik/dijital-bankacilik/aninda-sifre"
                                                            target="_self">Anında Şifre</a>
                                                    

                                                        
                                                        <a class="item" href="https://www.hsbc.com.tr/direkt-bankacilik/dijital-bankacilik/islem-imzalama"
                                                            target="_self">İşlem İmzalama</a>
                                                    

                                                        
                                                        <a class="item" href="https://www.hsbc.com.tr/direkt-bankacilik/dijital-bankacilik/bankacilik-islem-limitleri"
                                                            target="_self">İşlem Listesi ve Limitleri</a>
                                                    

                                                        
                                                        <a class="item" href="https://www.hsbc.com.tr/direkt-bankacilik/dijital-bankacilik/online-guvenlik"
                                                            target="_self">Online Güvenlik</a>
                                                    

                                                        
                                                        <a class="item" href="https://www.hsbc.com.tr/direkt-bankacilik/dijital-bankacilik/demolar"
                                                            target="_self">Demolar</a>
                                                    	
                                                        <span class="head item">Telefon Bankacılığı</span>
                                                    

                                                        
                                                        <a class="item" href="https://www.hsbc.com.tr/direkt-bankacilik/telefon-bankaciligi/hsbc-telefon-bankaciligi"
                                                            target="_self">Telefon Bankacılığı</a>
                                                    

                                                        
                                                        <a class="item" href="https://www.hsbc.com.tr/direkt-bankacilik/telefon-bankaciligi/musteri-temsilcisi-araciligiyla-yapabileceginiz-islemler"
                                                            target="_self">Müşteri Temsilcisi Aracılığıyla Yapabileceğiniz İşlemler</a>
                                                    

                                                        
                                                        <a class="item" href="https://www.hsbc.com.tr/direkt-bankacilik/telefon-bankaciligi/sesli-yanit-sistemi-ile-yapabileceginiz-islemler"
                                                            target="_self">Sesli Yanıt Sistemi ile Yapabileceğiniz İşlemler</a>
                                                    

                                                        
                                                        <a class="item" href="https://www.hsbc.com.tr/direkt-bankacilik/telefon-bankaciligi/tek-kullanimlik-sifre"
                                                            target="_self">Tek Kullanımlık Şifre</a>
                                                    

                                                        
                                                        <a class="item" href="https://www.hsbc.com.tr/direkt-bankacilik/telefon-bankaciligi/islem-limitleri"
                                                            target="_self">İşlem Limitleri</a>
                                                    	
</div>

                                        <div class="submenuright pull-right col-sm-12 col-md-4">
                                            <div class="menurow">
<ul>
	<li><a href="https://www.hsbc.com.tr/yatirim-urunleri/birikim-yonetimi/birikimlerinizi-nasil-degerlendirmek-istersiniz">Risk Profilinizi ve Size Uygun Yatırım Çözümlerini Öğrenin </a></li>
	<li><a href="http://www.hsbcportfoy.com.tr/yatirim-goruslerimiz/yatirim-bulteni/yatirim-bulteni">Yatırım Bültenleri</a></li>
	<li><a href="https://www.hsbc.com.tr/yatirim-urunleri/hsbc-yatirim-dunyasi/hsbc-yatirim-telefon-bankaciligi">HSBC Yatırım Telefon Bankaclığı</a></li>
	<li><a href="https://www.hsbc.com.tr/sikca-sorulanlar/hesaplar/vergi">Vergi</a></li>
	<li><a href="/hizmetlerimiz/formlar-ve-duyurular/formlar-ve-duyurular">Formlar ve Duyurular</a></li>
	<li><a href="https://www.hsbc.com.tr/hsbc-premier-ve-advance/hsbc-premier/bireysel-ekonominiz">HSBC Premier</a></li>
	<li><a class="popup-link" href="https://forms.hsbc.com.tr/bize-ulasin">Bize Ulaşın</a></li>
</ul>
</div>

                                            <!-- right area -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </li>
        
</ul>

                                </div>
                                <div class="searchContainer" role="search" aria-label="Arama" aria-hidden="true">
                                    <div class="header">
                                        <div class="singular">HSBC Yatırım</div>
                                        <label for="searchTxt" class="sr-only">Arama (En az 3 karakter giriniz.)</label>
                                        <input class="formcontrol searchTxt only-noChar " id="searchTxt" name="searchTxt"
                                            type="text" maxlength="50" autocomplete="off" tabindex="-1" />
                                        <a class="closeSearchContainer" href="javascript:;"><span class="sr-only">Close Seachbox</span>
                                            <i class="seachClose icon-delete"></i></a>
                                    </div>
                                    <ul>
	<li class="top">KULLANIŞLI LİNKLER</li>
	<li><a class="popup-link" data-height="650" data-scroll="1" data-width="820" href="https://forms.hsbc.com.tr/bize-ulasin">Bize Ulaşın</a></li>
	<li><a href="https://www.hsbc.com.tr/sube-ve-atm/sube-ve-atm-listesi">Şube ve ATM</a></li>
	<li><a href="https://www.hsbc.com.tr/sikca-sorulanlar/internet-bankaciligi/internet-bankaciligi">Sıkça Sorulan Sorular</a></li>
</ul>

                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="content" id="ContentSection" aria-label="İçerik">
                        <a href="javascript:;" class="content-first-link" id="ContentSectionA">Ana içeriğin
                            başı</a>
                        
    <div class="container sm-p-20 sm-pb-0">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="page-explanation" role="region" aria-label="Sayfa Başlığı">
                    <h1>HSBC Yatırım'a Hoş Geldiniz</h1>

<p>Birikiminize uygun tüm alternatifler HSBC Yatırım'da...</p>

                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container xs-pt-20 xs-pb-20 sm-pl-20 sm-pr-20">
            <div class="SubPage-Container xs-pt-0">

                <div class="row">
                    
                    <div class="col-md-8 col-sm-7 col-xs-12">

                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <h2>En Çok Kazandıran 5 Hisse</h2>
                                
<div id="TopMostValue" class="table-more" role="region" aria-label="En Çok Kazandıran 5 Hisse">    
    <table class="table-investment table-zebra">
        <thead>
            <tr>
                <th><span class="date-text"></span><table class="bottomTable">
                    <tbody><tr>
                        <td>BIST</td>
                    </tr>
                </tbody></table>
                </th>
                <th>&nbsp;</th>
                <th class="vtop">SON<br>
                    DEĞER
                </th>
                <th class="vtop">ÖNCEKİ
                    <br>
                    KAPANIŞ
                </th>
                <th class="vtop">%DEĞ
                </th>
            </tr>

        </thead>
        <tbody id="TableTopMostValue">
            <script type="text/template" class="template-TableTopMostValue">
            {% _.each(rc, function(listItem, i) { %}
                <tr>
                    <td><strong>{%= listItem.Symbol %}</strong></td>
                    <td>
                        {% if(listItem.ChangeRate == 0 || listItem.ChangeRate == undefined) { %}
                            <span class="stable" role="button" tabindex="0" aria-label="Sabit"></span>
                        {% } else if(listItem.ChangeRate > 0) { %}
                            <span class="ascend" role="button" tabindex="0" aria-label="Artan"></span>
                        {% } else { %}
                            <span class="descend" role="button" tabindex="0" aria-label="Azalan"></span>
                        {% } %}
                    </td>
                    <td>{%= _(listItem.CloseValue).percent() %}</td>    
                    <td>{%= _(listItem.PreviousCloseValue).percent() %}</td>
                    <td>{%= _(listItem.ChangeRate).percent() %}</td>
                </tr>
            {% }); %}
            </script>
        </tbody>
    </table>
    <div class="btn-table-more"><a href="javascript:;" data-text-1="Detay" data-text-2="Özet"><span class="sr-only">En Çok Kazandıran 5 Hisse Tümünü Görüntüle</span></a><span class="icon-arrow-down"></span></div>
</div>

                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <h2>Dış Piyasalar / Endeksler</h2>
                                
<div id="ForeignForeks" class="table-more" aria-label="Dış Piyasalar / Endeksler" role="region">
    <table class="table-investment table-zebra">
        <caption><span class="sr-only">Dış Piyasalar / Endeksler</span></caption>
        <thead>
            <tr>
                <th><span></span><table class="bottomTable">
                    <tbody><tr>
                        <td>ENDEKS</td>
                    </tr>
                </tbody></table>
                </th>
                <th class="xs-p-0">&nbsp;</th>
                <th class="vtop">SON<br>
                    DEĞER
                </th>
                <th class="vtop">ÖNCEKİ
                    <br>
                    KAPANIŞ
                </th>
                <th class="vtop">%DEĞ
                </th>
            </tr>

        </thead>
        <tbody id="TableForeignForeks">
            <script type="text/template" class="template-TableForeignForeks">
            {% _.each(rc, function(listItem, i) { %}
                <tr>
                    <td><strong>{%= listItem.Symbol %}</strong></td>
                    <td class="xs-p-0">
                        {% if(listItem.ChangeRate == 0 || listItem.ChangeRate == undefined) { %}
                            <span class="stable" role="button" tabindex="0" aria-label="Sabit"></span>
                        {% } else if(listItem.ChangeRate > 0) { %}
                            <span class="ascend" role="button" tabindex="0" aria-label="Artan"></span>
                        {% } else { %}
                            <span class="descend" role="button" tabindex="0" aria-label="Azalan"></span>
                        {% } %}
                    </td>
                    <td>{%= _(listItem.LastValue).money() %}</td>
                    <td>{%= _(listItem.CloseValue).money() %}</td>
                    <td>{%= _(listItem.ChangeRate).percent() %}</td>
                </tr>
            {% }); %}
            </script>
        </tbody>
    </table>
    <div class="btn-table-more"><a href="javascript:;" data-text-1="Detay" data-text-2="Özet"><span class="sr-only">Dış Piyasalar Tümünü Görüntüle</span>  </a><span class="icon-arrow-down"></span></div>
</div>

                            </div>
                        </div>

                        
        <h2>Döviz</h2>
        <div id="ForeignCurrencies" class="table-more" aria-label="Döviz" role="region">
            <table class="table-investment table-zebra table-right">
                <caption><span class="sr-only">Döviz</span></caption>
                <thead>
                    <tr>
                        <th>KUR
                        </th>
                        <th colspan="2">TCMB
                    <table class="bottomTable">
                        <tbody>
                            <tr>
                                <td class="text-center"><span>Alış</span></td>
                                <td><span>Satış</span></td>
                            </tr>
                        </tbody>
                    </table>
                        </th>                      
                        <th colspan="2"><strong>HSBC</strong>
                            <table class="bottomTable">
                                <tbody>
                                    <tr>
                                        <td class="text-center"><span>Alış</span></td>
                                        <td><span>Satış</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </th>
                    </tr>

                </thead>
                <tbody id="TableForeignCurrencies">
                    <script type="text/template" class="template-TableForeignCurrencies">
                        {% _.each(rc, function(listItem, i) { %}
                <tr>
                    <td><strong>{%= listItem.Symbol %}</strong></td>
                    <td>{%= _(listItem.CentralBuy).money(4) %}</td>
                    <td>{%= _(listItem.CentralSell).money(4) %}</td>
                    <td>{%= _(listItem.HsbcBuy).money(4) %}</td>
                    <td>{%= _(listItem.HsbcSell).money(4) %}</td>                    
                </tr>
                        {% }); %}
                    </script>
                </tbody>
            </table>
            <div class="btn-table-more"><a href="javascript:;" data-text-1="Detay" data-text-2="Özet"><span class="sr-only">Döviz Tümünü Görüntüle</span></a><span class="icon-arrow-down"></span></div>
        </div>
    




                        <div class="row" role="region" aria-label="Altın">
                            
                            
                                <div class="col-sm-12 col-xs-12">
                                    <h2>Kıymetli Madenler</h2>

                                    <div class="goldData ">
                                        <table class="table-investment table-zebra">
                                            <caption><span class="sr-only">Kıymetli Madenler</span></caption>
                                            <thead>
                                                <tr>
                                                    <th>Kıymetli Madenler
                                                    </th>
                                                    <th colspan="2"><strong>HSBC</strong>
                                                        <table class="bottomTable">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="text-center"><span>Alış</span></td>
                                                                    <td><span>Satış</span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td id="XAUKG"><strong>Altın Gr / TL</strong></td>
                                                    <td id="XAUKGBuy"></td>
                                                    <td id="XAUKGSell"></td>
                                                </tr>
                                                <tr>
                                                    <td id="XAGKG"><strong>Gümüş Gr / TL</strong></td>
                                                    <td id="XAGBuy"></td>
                                                    <td id="XAGSell"></td>
                                                </tr>
                                                <tr>
                                                    <td id="XPTKG"><strong>Platin Gr / TL</strong></td>
                                                    <td id="XPTBuy"></td>
                                                    <td id="XPTSell"></td>
                                                </tr>
                                                <tr>
                                                    <td id="XPDKG"><strong>Paladyum Gr / TL</strong></td>
                                                    <td id="XPDBuy"></td>
                                                    <td id="XPDSell"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                            
                            
                        </div>

                    </div>
                    

                    
                    <div class="col-md-4 col-sm-5 col-xs-12 col-sidebar">

                        
<div class="box border xs-mt-0" role="region" aria-labelledby="alr4">
    <h2 id="alr4">Hisse Detay Bilgileri</h2>
    <div class="dropdown">
        <div class="pull-left">
	        <select class="select" name="dllStocks" id="dllStocks">
            <script type="text/template" class="template-dllStocks">
                
                {% _.each(rc, function(listItem, i) { %}
                    <option value="{%= listItem.Symbol %}">{%= listItem.Symbol %}</option>
                {% }); %}
                
            </script>
            </select>
        </div>
        <div class="pull-right"><a href="javascript:;" class="btn btn-search icon-search" id="btnStocks"><span class="sr-only">Hisse Arama</span></a></div>
    </div>
</div>


                        
<div role="region" aria-labelledby="alr2">
    <div class="box box-gray" aria-live="assertive">
        <h2 id="alr2">Hisse Senedi Piyasaları</h2>
        <div class="foreks-type">
            <label for="ddlForeks">BIST</label>
            <select class="select" name="ddlForeks" id="ddlForeks">
                <option value="XU100" selected="selected">XU100</option>
                <option value="XU050">XU050</option>
                <option value="XU030">XU030</option>
            </select>
        </div>
        <div id="chartSection" style="height: 260px;"></div>
    </div>
    <div class="bist-detail">
        <table class="table-investment table-right">
            <caption><span class="sr-only">Hisse Senedi Piyasaları</span></caption>
            <thead>
                <tr>
                    <th><strong>SON DEĞER</strong></th>
                    <th><strong>ÖNCEKİ KAPANIŞ</strong></th>
                    <th><strong>%DEĞ.</strong></th>
                    <th><strong>SAAT</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="ForeksLastValue"></td>
                    <td id="ForeksPreviousValue"></td>
                    <td id="ForeksChangeRate"></td>
                    <td id="ForeksDate"></td>
                </tr>
            </tbody>
        </table>
        <div class="tr-last">
            <div><strong>İŞLEM HACMİ</strong></div>
            <span id="ForeksTransactionVolume"></span>
        </div>
    </div>
</div>

                        <div class="box border">
<h3><a href="/piyasa-verileri/doviz-ve-altin/hsbc-doviz-ve-altin-piyasalari">Döviz / Kıymetli Maden</a></h3>

<p>Döviz / Kıymetli Maden hizmetleri HSBC Bank aracılığı ile sunulmaktadır.</p>
</div>

<div class="box border">
<h3><a href="/piyasa-verileri/hisse-senedi-piyasalari/hsbc-hisse-senedi-piyasalari">Hisse Senetleri</a></h3>

<p>Uluslararası hizmet kalitesi ve uzman desteği ile sunulmaktadır.</p>
</div>

<div class="box border">
<h3><a href="/piyasa-verileri/hsbc-yatirim-fonlari/hsbc-yatirim-fonlari">Yatırım Fonları</a></h3>

<p>Birikimlerinizi değerlendirmenin birkaç kârlı yolu var.</p>
</div>

                        
                        
                        
                        
                    </div>
                    
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" role="region" aria-label="Haberler">
                        

<div class="box">
    <h2>Haberler</h2>
    <div>
        <ul class="list-border">
            
                <li>
                    <a href="/haberler/sermaye-piyasasi-kurulunun-23032025-tarih-ve-18574-sayili-karari-uyarinca-yapilan-duyurusuna-iliskin-onemli-basin-duyurusu">Sermaye Piyasası Kurulu’nun 23/03/2025 Tarih ve 18/574 Sayılı Kararı Uyarınca Yapılan Duyurusuna İlişkin Önemli Basın Duyurusu</a>
                </li>
            
                <li>
                    <a href="/haberler/tspbnin-yatirim-hizmet-ve-faaliyetleri-ile-yan-hizmetlere-iliskin-belge-ve-kayit-duzeni-hakkinda-teblige-iliskin-onemli-duyuru">TSPB’nin Yatırım Hizmet ve Faaliyetleri ile Yan Hizmetlere İlişkin Belge ve Kayıt Düzeni Hakkında Tebliğe İlişkin Önemli Duyuru</a>
                </li>
            
                <li>
                    <a href="/haberler/tspbnin-dolandiricilik-olaylarina-yonelik-guvenlik-uyarisi-ve-izinsiz-sermaye-piyasasi-faaliyetlerine-iliskin-bilgilendirme-metni">TSPB’nin Dolandırıcılık Olaylarına Yönelik Güvenlik Uyarısı ve İzinsiz Sermaye Piyasası Faaliyetlerine İlişkin Bilgilendirme Metni</a>
                </li>
            
                <li>
                    <a href="/haberler/yildiz-pazar-ana-pazar-alt-pazarda-islem-goren-paylarin-yeniden-belirlenmesi-hakkinda">Yıldız Pazar, Ana Pazar ve Alt Pazarda İşlem Gören Payların Yeniden Belirlenmesi Hakkında Duyuru</a>
                </li>
            
        </ul>
    </div>
</div>

                    </div>
                </div>

                <div class="clearfix"></div>
                <hr />
                <div class="list-links xs-mb-30">

                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
<h3 class="brand-bar xs-mb-15 xs-mt-15">Piyasa Haberleri</h3>
<a class="pdf xs-ml-15" href="/banka-piyasa-haberleri">Son Dakika</a>

<h3 class="brand-bar xs-mb-15 xs-mt-10">Piyasa Yorumları</h3>
<a class="pdf xs-ml-15" href="/api/documents/GetLatest?categoryKey=gunluk-yatirim-bulten" target="_blank">Günlük Teknik Analiz Raporu</a></div>

<div class="col-sm-4 col-xs-12">
<h3 class="brand-bar xs-mb-15 xs-mt-15">Formlar Duyurular</h3>

<p class="xs-mt-0 xs-mb-10"><a class="pdf xs-ml-15" href="/medium/document-file-3991.vsf" target="_blank">HSBC Yatırım Bilgi Sistemlerine Erişim Hakkında Duyuru</a></p>

<p class="xs-mt-0 xs-mb-10"><a class="pdf xs-ml-15" href="/medium/document-file-2916.vsf" target="_blank">SPK Basın Açıklaması - 04.06.2020</a></p>

<p class="xs-mt-0 xs-mb-10"><a class="pdf xs-ml-15" href="/medium/GalleryImage-Image-33-2x.vsf" target="_blank">SPK'dan Duyuru</a></p>

<p class="xs-mt-0 xs-mb-10"><a class="pdf xs-ml-15" href="/medium/document-file-2794.vsf" target="_blank">Olağanüstü Durum Planı</a></p>

<p class="xs-mt-0 xs-mb-10"><a class="pdf xs-ml-15" href="/medium/document-file-220.vsf" target="_blank">Yatırımcı Hakları</a></p>
</div>

<div class="col-sm-4 col-xs-12">
<p class="xs-mt-0 xs-mb-10"><a class="pdf xs-ml-15" href="https://www.tspb.org.tr/kamuoyu-aydinlatma-formu/">Kamuoyu Aydınlatma Formları</a></p>

<p class="xs-mt-5 xs-mb-10"><a class="pdf xs-ml-15" href="https://www.hsbc.com.tr/hsbc/risk-bildirim-formu">Risk Bildirim Formu</a></p>

<p class="xs-mt-0 xs-mb-10"><a class="pdf xs-ml-15" href="https://www.hsbc.com.tr/hsbc/zaman-asimi-listesi/hsbc-yatirim-menkul-degerler-as-zaman-asimi-listesi" target="_blank">Zamanaşımına Uğrayan Emanet ve Alacaklar</a></p>

<p class="xs-mt-0 xs-mb-10"><a class="pdf xs-ml-15" href="https://www.hsbc.com.tr/hsbc/mkt-uyeligi-yatirimci-bilgilendirme-duyurusu">MKT Üyeliği Yatırımcı Bilgilendirme Duyurusu</a></p>
</div>


                    </div>
                </div>

                <hr />
                <h3 class="xs-mt-40">Açıklamalar</h3>

<p class="fs14">Sitemizde yayınlanan veriler <img alt="Foreks" src="/_assets/img/foreks.png"> tarafından sağlanmakta olup bu bilgiler yalnızca yatırımcıların kendi yatırım kararlarını alabilmelerini sağlamak amacıyla sunulmuştur. BIST* hisse verileri anlık, haberler,tahvil-repo, serbest piyasa ve uluslararası veriler en az 15 dk. gecikmeli olarak yayınlanmaktadır. Bu verilere dayanarak verilecek herhangi bir alım/satım emri kararının sorumluluğu tamamen yatırımcılara ait olup veriler kesinlikle bir teklif ya da kişisel yatırım tavsiyesi oluşturmaz. Bu bilgilerin kullanımından ileri gelen doğrudan veya dolaylı zararlardan ve bu verilerde ortaya çıkabilecek herhangi bir gecikme, aksaklık veya yanlışlıktan Bankamızın hiçbir sorumluluğu bulunmamaktadır. Sitemizde yayınlanan verilertarafından sağlanmakta olup bu bilgiler yalnızca yatırımcıların kendi yatırım kararlarını alabilmelerini sağlamak amacıyla sunulmuştur. BIST* hisse verileri anlık, haberler,tahvil-repo, serbest piyasa ve uluslararası veriler en az 15 dk. gecikmeli olarak yayınlanmaktadır. Bu verilere dayanarak verilecek herhangi bir alım/satım emri kararının sorumluluğu tamamen yatırımcılara ait olup veriler kesinlikle bir teklif ya da kişisel yatırım tavsiyesi oluşturmaz. Bu bilgilerin kullanımından ileri gelen doğrudan veya dolaylı zararlardan ve bu verilerde ortaya çıkabilecek herhangi bir gecikme, aksaklık veya yanlışlıktan Bankamızın hiçbir sorumluluğu bulunmamaktadır.</p>

                
                

                <div class="bg-warning xs-mt-40">
<div>BIST isim ve logosu "Koruma Marka Belgesi" altında korunmakta olup izinsiz kullanılamaz, iktibas edilemez, değiştirilemez. BIST ismi altında açıklanan tüm bilgilerin telif hakları tamamen BIST'e ait olup, tekrar yayınlanamaz.</div>
</div>



            </div>
        </div>
    </div>
    <div class="modal fade" id="RenewedWebsiteModal" tabindex="-1" role="dialog" aria-labelledby="RenewedWebsiteLabel">
        <div class="modal-dialog" role="document">
            <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                <span
                    aria-hidden="true"><i class="icon-delete"></i></span>
            </button>
            <div class="modal-content">
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
    <!-- Modal Modal -->

                    </div>
                    <footer aria-label="Alt Bilgi">
                        <div role="region" aria-label="Bilgilendirme yönlendirmeleri">
                            <div class="primaryblack  visible-xs visible-sm visible-md">
<div class="container">
<div class="footerBlockxl">
<div class="halfblock"><i class="icon-phone"></i>

<div><a class="popup-link" data-height="690" data-scroll="1" href="
https://forms.hsbc.com.tr/bize-ulasin"><span class="head">Bize Ulaşın</span> <span class="link">Öneri, soru ve geri<br>
bildirimleriniz için bize yazın</span> </a></div>
</div>

<div class="halfblock"><span class="number telephone">0850 211 0 111</span> <span class="small">Bireysel Tel. Bankacılığı</span></div>
</div>
</div>
</div>

<div class="primary">
<div class="container">
<div class="footerBlock hidden-xs hidden-sm hidden-md">
<div class="halfblock"><i class="icon-phone"></i>

<div><a class="popup-link" data-height="690" data-scroll="1" href="
https://forms.hsbc.com.tr/bize-ulasin"><span class="head">Bize Ulaşın</span> <span class="link">Öneri, soru ve geri<br>
bildirimleriniz için bize yazın</span> </a></div>
</div>

<div class="halfblock"><span class="number telephone">0850 211 0 111</span> <span class="small">Bireysel Telefon Bankacılığı</span></div>
</div>

<div class="footerBlock"><i class="icon-location"></i>

<div><a href="https://www.hsbc.com.tr/sube-ve-atm/sube-ve-atm-listesi"><span class="head">Şube ve ATM</span> <span class="link">Yurt içi Şube<br>
ve ATM'lerimiz</span> </a></div>
</div>

<div class="footerBlock"><i class="icon-global"></i>

<div><a href="https://www.hsbc.com.tr/hsbc-hakkinda"><span class="head">HSBC Hakkında</span> <span class="link">Türkiye'nin önde gelen<br>
uluslararası bankası</span> </a></div>
</div>

<div class="footerBlock"><i class="icon-help"></i>

<div><a href="https://www.hsbc.com.tr/sikca-sorulanlar"><span class="head">Sıkça Sorulanlar</span> <span class="link">Sıkça sorulan<br>
sorulara ulaşın</span> </a></div>
</div>

<div class="footerBlock  hidden-lg"><i class="icon-instagram"></i>

<div><a href="https://www.instagram.com/hsbc_tr" target="_blank"><span class="head">HSBC Instagram</span></a></div>
</div>

<div class="footerBlock hidden-lg" style="border-bottom-color: rgb(92, 92, 92); border-bottom-width: 2px; border-bottom-style: solid;"><i class="icon-twitter"></i>

<div><a href="https://twitter.com/HSBC_TR" target="_blank"><span class="head">HSBC X</span></a></div>
</div>

<div class="footerBlock hidden-lg" style="border-bottom-color: rgb(92, 92, 92); border-bottom-width: 2px; border-bottom-style: solid;"><i class="icon-facebook"></i>

<div><a href="https://www.facebook.com/HSBCTurkiye" target="_blank"><span class="head">HSBC Facebook</span></a></div>
</div>

<div class="footerBlock  hidden-lg"><i class="icon-youtube"></i>

<div><a href="https://www.youtube.com/channel/UC3aS_WrypGWlxebaqQm6Q0g" target="_blank"><span class="head">HSBC YouTube</span></a></div>
</div>

<div class="footerBlock hidden-xs hidden-sm hidden-md">
<ul class="socialList">
	<li><i class="icon-instagram"></i>

	<div><a href="https://www.instagram.com/hsbc_tr" target="_blank"><span class="head">HSBC Instagram</span></a></div>
	</li>
	<li><i class="icon-twitter"></i>
	<div><a href="https://twitter.com/HSBC_TR" target="_blank"><span class="head">HSBC X</span></a></div>
	</li>
	<li><i class="icon-facebook"></i>
	<div><a href="https://www.facebook.com/HSBCTurkiye" target="_blank"><span class="head">HSBC Facebook</span></a></div>
	</li>
	<li><i class="icon-youtube"></i>
	<div><a href="https://www.youtube.com/channel/UC3aS_WrypGWlxebaqQm6Q0g" target="_blank"><span class="head">HSBC YouTube</span></a></div>
	</li>
</ul>
</div>
</div>
</div>

                        </div>
                        <div class="secondary" role="region" aria-label="Yararlı Linkler">
                            <div class="container">
                                <div class="row">
                                    <div class="linklist col-md-12 col-lg-8">
<ul>
	<li><a href="/site-haritasi">Site Haritası</a></li>
	<li><a href="https://www.hsbc.com.tr/hsbc/genel-sartlar-ve-hukumler">Genel Şart ve Hükümler</a></li>
	<li><a href="https://www.hsbc.com.tr/hsbc/gizlilik-aciklamasi">Gizlilik Açıklaması</a></li>
	<li><a href="https://www.hsbc.com.tr/hsbc-hakkinda/insan-kaynaklari ">İnsan Kaynakları</a></li>
	<li><a href="https://e-sirket.mkk.com.tr/esir/Dashboard.jsp#/sirketbilgileri/10555" target="_blank">Bilgi Toplumu Hizmetleri</a></li>
	<li><a href="/kisisel-verilerin-korunmasi">Kişisel Verilerin Korunması</a></li>
</ul>

<ul>
	<li><a href="https://www.hsbc.com.tr/hsbc/bilgi-formlari-ve-sozlesmeler">Bilgi Formları ve Sözleşmeler</a></li>
	<li><a href="https://www.hsbc.com.tr/gayrimenkuller">Gayrimenkuller</a></li>
	<li><a href="https://www.hsbc.com.tr/direkt-bankacilik/dijital-bankacilik/online-guvenlik">Online Güvenlik</a></li>
	<li><a href="/cerezler-hakkinda-bilgilendirme">Çerez Politikası</a></li>
</ul>
</div>

                                    <div class="footerCopyright col-md-3 hidden-xs hidden-sm  hidden-md text-right pull-right">
                                        <p>&copy; 2002-2025 HSBC Bank A.Ş.</p>
                                        <p>Bütün hakları saklıdır.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true"><i
                        class="icon-delete"></i></span>
                </button>
                <div class="modal-content">
                    <div class="modal-body" id="isModalBody"></div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade whitemodal" id="IBModal" tabindex="-1" role="dialog" aria-labelledby="IBModal">
            <div class="modal-dialog" role="document">
                <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                    <span
                        aria-hidden="true"><i class="icon-delete"></i></span>
                </button>
                <div class="modal-content">
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
          <div class="modal fade cookieModal" id="new-cookie-modal" tabindex="-1" role="dialog"
            aria-labelledby="new-cookie-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">                      
                        <h2>Çerez Ayarla</h2>

<p>Çerezler, internet sitesini ziyaret ettiğinizde tarayıcınızda saklanan küçük veri parçalarıdır. Çerezler, internet sitesinin size tanımasını sağladığı ve siteyi nasıl kullandığınız hakkında bilgi topladığı için faydalıdır.</p>

<p>Hangi çerez türlerini kabul etmek istediğini aşağıdaki ayar aracılığı ile her zaman seçebilirsiniz.</p>

<p>Çerezler hakkında detaylı bilgi için <a href="https://www.hsbc.com.tr/medium/document-file-3080.vsf" target="_blank">Çerez Politikası</a>'nı incelemenizi rica ederiz.</p>

<h2>Zorunlu Çerezler</h2>

<p>Bu çerezler; çevrim içi araçları kullanmak, güvenli şekilde oturum açmak, sevdiğiniz içerikleri kaydetmek ve çerez tercihlerinizi korumak gibi internet sitemizin temel özelliklerini sağlamak adına bizim için oldukça öenm taşımaktadır. Bu çerezler için rızanız gerekmemektedir.</p>

                        <div class="new-cookie-modal-render"></div>
                       
                        <div class="clearfix"></div>
                        <a href="javascript:;" class="btn btn-red mx-auto save-cookie">Ayarları Kaydet</a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/template" class="template-cookie-modal">
            {% _.each(rc,function(data,i){ %}                            
                <div>
                    <h2>{%=data.Title %}</h2>
                    <p>{%=data.Description %}</p>                              
                        <div class="xs-pl-0 radio-inline">
                            <div class="radio">
                                <input name="{%= data.Id %}" id="{%= data.Id %}-on" type="radio" checked="checked" value="on" 
                                    {%= (data.IsManageable!=true)?'disabled="disabled"':null %} tabindex="-1">
                                <label for="{%= data.Id %}-on" tabindex="0">Açık</label>
                            </div>
                            <div class="radio">
                                <input name="{%= data.Id %}" id="{%= data.Id %}-off" type="radio"  {%= (data.IsManageable!=true)?'disabled="disabled"':null %} tabindex="-1" value="off">
                                <label for="{%= data.Id %}-off" tabindex="0">Kapalı</label>
                            </div>
                        </div>
                </div>
            {% }) %}
        </script>
    </form>


    <script src="/magiclick.core.min.js?v=6IVVm5EReu-nShu2obxBI86JvKJHDz0iGfjyti7PvQ41"></script>


    <script src="/magiclick.tr.min.js?v=miNo7ZgeQpB4LpBodNl8Kh_9VgqbLegYWVOhCELffTw1"></script>


    <script src="/_assets/js/jquery/highstock.js"></script>

    
    <script>site.GetData("TableForeignCurrencies", "getForeignCurrencies");</script>


    <script>site.GetData("TableTopMostValue", "getTopMostValueByLot?type=N");</script>



    <script>site.GetData("TableForeignForeks", "getForeignForeksData");</script>







    <script>
        site.GetData("dllStocks", "getStocks");
        $("#btnStocks").on("click", function () {
            window.location.href = "/piyasa-verileri/hisse-senedi-piyasalari/detay/" + $("#dllStocks").val();

            return false;
        });
    </script>



    <script>
        $("#ddlForeks").on("change", function () {
            var url = "/api/hsbcdata/getDailyForeksGraphData?code=" + $(this).val() + "&currency=YTL";
            $.get(url).then(function (result, responseText, jqXHR) {
                if (jqXHR.status == 204) {
                    HSBC.WarningCode204($("#chartSection"));
                    return false;
                }
                
                site.Chart.create('chartSection', result.GraphData, { type: "investment", date: "HH:mm", money: 0 }, "Hisse Senedi Piyasaları", "Hisse Senedi Piyasaları");
                $("#ForeksLastValue").text(result.LastValue.toString().money(2));
                $("#ForeksPreviousValue").text(result.PreviousValue.toString().money(2));
                $("#ForeksChangeRate").text(result.ChangeRate.toString().percent());
                $("#ForeksDate").text(moment(result.Date).format("HH:mm:ss"));
                $("#ForeksTransactionVolume").text(result.TransactionVolume.toString().money(2));

            });

        }).trigger("change");
    </script>







    

    <script>
        //site.GetData("TableStockCompanyInformation", "getStockCompanyInformation?symbols=THYAO");
        $.get("/api/hsbcdata/getGoldData").then(function (result, responseText, jqXHR) {
            if (jqXHR.status == 204) {
                HSBC.WarningCode204($(".goldData table"));
                return false;
            }
            $(result).each(function (e, i) {
                s = i.Symbol;
                if (i.Symbol == "USD/ONS") {
                    s = "XAUKO";
                }
                $("#" + s + "Buy").text(i.Buy.toString().money());
                $("#" + s + "Sell").text(i.Sell.toString().money());
            });
        });
    </script>

</body>
</html>
